<h3 style="text-align:center">Reşat Nuri Güntekin</h3>
<img src="../../../assets/images/resat_nuri_guntekin.jpg" class="rounded float-start" alt="pataes" width="250" height="250"> 
<p style="text-align:center">
    Çağdaş Türk Edebiyatının ünlü roman, öykü ve tiyatro yazarı <b> Reşat Nuri Güntekin</b>, 25 Kasım 1889 tarihinde İstanbul'da doğdu. Babası Askerî Doktor Nuri Bey, annesi Erzurum Valisi Yaver Paşa'nın kızı Lütfiye Hanım'dır.

    Çanakkale'de ilköğrenimini yaptı. Galatasaray Lisesi'nde bir yıl okuduktan sonra İzmir'deki Fransız Okulu'na girdi. Bu okulu bitirmeden ayrıldı. İstanbul Üniversitesi Edebiyat Fakültesi'ni bitirdi (1912). 

    Bursa Sultanisi'nde Fransızca öğretmenliği yaptı, İstanbul'a atandı (1916). Vefa Sultanisi, Erenköy Lisesi, Çamlıca Kız Lisesi, Kabataş, Galatasaray, İstanbul Erkek liselerinde edebiyat, felsefe dersleri okuttu, Fatih Vakıf Mektebi müdürlüğünde bulundu. Mahmut Yesari'yle Kelebek adında mizah dergisi çıkardı (1923-1924). Uzun yıllar liselerde edebiyat öğretmenliği yaptıktan sonra (1913-1930), Milli Eğitim Bakanlığı Müfettişi oldu (1931). Çanakkale milletvekili seçildi (1939-1944).

    Memleket gazetesini çıkardı (1947). Unesco'da Türkiye Temsilciliği, Paris'te kültür ataşeliği görevlerinde bulundu. Emekli ye ayrılıp yeni eserlerini yazarken yakalandığı kanserden, tedavi için gittiği Londra'da 13 Aralık 1956'da yaşama gözlerini yumdu. Cenazesi yurda getirilip Karacaahmet'te toprağa verildi. 
</p><br> <hr>
<h3 style="text-align:center"> <b>Eserleri</b></h3>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <ul>
            <li>Çalıkuşu </li>
            <li>Damga</li>
            <li>Gizli El </li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Dudaktan Kalbe </li>
            <li>Akşam Güneşi</li>
            <li>Bir Kadın Düşmanı </li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Gökyüzü </li>
            <li>Eski Hastalık</li>
            <li>Ateş Gecesi </li>
          </ul> 
      </div>
      
</div>
  

