<div class="contanier">
    <div class="container p-1 pb-0">
        <div class="row">
            <h3>Used Tools </h3><hr>
            <ul>
                <li>
                    Bootstrap
                </li>
                <li>
                    Angular 5.0
                </li>
            </ul>
        </div>
        <div class="row">
            <h3>Kaynakca </h3><hr>
            <ul>
                <li>
                    https://www.turkedebiyati.org/
                </li>
                <li>
                    https://www.edebiyatogretmeni.org/
                </li>
                <li>
                    https://www.tdk.gov.tr/
                </li>
                <li>
                    https://getbootstrap.com/
                </li>
            </ul>
        </div>
        <div class="row">
            <h3>About Me </h3><hr>
            <section class="mb-1">
                <a class="btn btn-outline-light btn-floating m-1"
                    href="https://www.linkedin.com/in/ferit-berkay-kabil-610413203/" role="button"><i>Linkedin</i></a>
    
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/FeritBerkay"
                    role="button"><i>Github</i></a>
            </section>
        </div>
    </div>
</div>