<div class="container">
    Şiir: Duygu, hayal ve düşüncelerin bir düzene bağlı olarak, çekici/etkileyici bir dil ve ahenkli mısralar içinde aktarılmasıdır. Edebiyat türlerinin en eskisi şiirdir. <hr> <br> 


 <div class="row">
    <div class="col-md-6 mb-4">
      <ul>
          <br> <li>
      <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect"> <a class="nav-link active" aria-current="page" [routerLink]="['/siirler/didaktikSiir']" routerLinkActive="active">        
              <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>Didaktik Siir</i></h5>     </a> </button>   </li>
              <br> <li background-image:>  
          <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">  <a class="nav-link active" aria-current="page" [routerLink]="['/siirler/epikSiir']" routerLinkActive="active">        
                  <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>Epik Siir</i></h5>     </a> </button>  </li>
                  <br> 
                  </ul>
    </div>
    <div class="col-md-6 mb-4">
      <ul>
          <br>  <li> 
      <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect"> <a class="nav-link active" aria-current="page" [routerLink]="['/siirler/lirikSiir']" routerLinkActive="active">        
              <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>Lirik Siir</i></h5>     </a> </button>   </li>
              <br> <li>  
          <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">  <a class="nav-link active" aria-current="page" [routerLink]="['/siirler/modernSiir']" routerLinkActive="active">        
                  <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>Modern Siir</i></h5>     </a> </button>  </li>
                  <br> 
                  </ul>
              </div>
    
</div>
