<footer class="bg-dark text-center text-white" style="  top: 100%; position: sticky;">
    <div class="container p-1 pb-0">
      <!-- <section class="mb-1">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/ferit-berkay-kabil-610413203/"
          role="button"><i>Linkedin</i></a>
      
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/FeritBerkay"
          role="button"><i>Github</i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/ferit-berkay-kabil-610413203/"
          role="button"><i>About</i></a>
      </section> -->
    </div>
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://www.linkedin.com/in/ferit-berkay-kabil-610413203/">Ferit Berkay Kabil</a>
    </div>
  </footer>