<div style="text-align: center">
    <h3><b>Didaktik Siir </b></h3>   <hr  style="width:300px; margin: auto;" >  <br> 
<p >
    Belli bir konuda öğüt ve bilgi veren, bilimin metot ve prensiplerini, sanat eserlerinin güzel yönlerini öğreten, ahlaki, kültürel dersler veren şiirlere ‘didaktik (öğretici) şiir” denir.

    Şairin temel amacı bir düşünceyi, bir bilgiyi aktarmak ve öğüt vermektir. Bunlar okurun aklına seslenir. Bu nedenle didaktik şiirler duygusal yönden zayıftır. Duygu yönü az olduğundan kuru bir anlatımı vardır. Dil ve anlatım bakımından pek değer taşımaz. Bu şiirlerin bilgi ve felsefî yönü ağırlıklıdır. Söylenenler imgeye dönüştürülmeden, düzyazı gibi bir yapı içinde aktarılır. Şairler, kafiye ve ölçülerinden dolayı akılda kolay kaldığından, bilgileri bu yolla vermeyi tercih ederler.</p>
<h4 > <b> Siir Ornegi</b></h4>  <hr  style="width:300px; margin: auto;" > 
<p style="font-size: x-large;">


    «Şayet» isimli didaktik bir şiir örneği: <br>
    <br>
    Ömrünü vakfettiğin işin mahvolduğunu <br>
    Görüp de hiç yılmadan işe baştan başlarsan<br>
    Yüz oyunluk kazancı bir oyunda kaybedip<br>
    İstifini bozmadan metanetle başlarsan<br>
    <br>
    Aşka esir olmadan âşık olup da eğer<br>
    Her zaman hem kuvvetli hem de müşfik olursan<br>
    Sana kin güdenlere vermeden hiçbir değer<br>
    Kin gütmeden kimseye sen kendini korursan<br>
    <br>
    Safdilleri kandırıp kurmak için bir tuzak<br>
    Sarfettiğin sözlerin hainlerin ağzından<br>
    Bambaşka bir şekilde tekrarını duyarak<br>
    Omuz silkip geçersen üzerinde durmadan<br>
    <br>
    Hiçbir zaman şüpheci ve yıkıcı olmadan<br>
    İnceler ve öğrenir, düşünür ve anlarsan<br>
    Kontrolü hiçbir zaman elinden bırakmadan<br>
    Bir mütefekkir gibi hülyalara dalarsan<br>
    <br>
    Bütün kabahatleri sana yükleyerekten<br>
    Bir faniye kapılıp herkes telâş ederken<br>
    Kendine hâkim olup soğukkanlılıkla sen<br>
    İtidalini eğer muhafaza edersen<br>
    <br>
    Milleti unutmadan krallarla gezersen<br>
    Halkla temas edersen vakarını bozmadan<br>
    Kayırmadan birini dostlarını seversen<br>
    İncitmezse seni ne bir dost ne bir düşman<br>
    <br>
    Bir felâketten sonra zaferle karşılaşıp<br>
    Bu iki hilekâra fazla kıymet vermeden<br>
    Bozmadan istifini hep aynı gözle bakıp<br>
    Tebessümle karşılar şayet gülüp geçersen<br>
    <br>
    Ecelle vâki olan nihaî buluşmayı<br>
    Ayıran son dakkayı koşarak bitirirsen<br>
    Ab-ı hayatla dolu ömür denen kupayı<br>
    Sevinçle ve kedersiz tüketip yitirirsen<br>
    <br>
    Talihi ve zaferi, şahları, ilâhları<br>
    Sadık köleler gibi hep yanında bulursun<br>
    Fakat hepsinden mühim olanı şu ki... Oğlum<br>
    Sen o zaman hakikî, tam bir insan olursun. (Rudyard KIPLING)<br>

</p>
</div>
