<div class="p-3 border bg-light"> 
    <h3 class="text-primary fw-bold">EDEBIYAT Toplum ILISKISI</h3>
<hr> Edebiyat, sözlü ve yazılı ürünler aracılığıyla toplumun kültürel birikimini oluşturur. Toplumun duygu, düşünce ve hayalleri; sosyal yaşamı, inançları ve değerleri onun aracılığıyla dile getirilir. Sanat, siyaset, bilim, felsefe, ekonomi, din, tarih gibi her alan; sevgi, nefret, korku, öfke, üzüntü, sevinç, arzu, aşk, mutluluk, mutsuzluk gibi her duygu; kısacası insanı ilgilendiren her şey edebiyatın ilgi alanına girer.
<br>
Bu anlamda edebiyat, toplumların duygu ve düşüncelerinin yansıdığı alandır. Kültür ve uygarlığın bileşeni, ifadesi, ayrılmaz bir parçasıdır
 </div> 
