<div class="p-3 border bg-light"> 
    <h3 class="text-primary fw-bold">
        Makale
    </h3>
<hr> Makale, belirli bir konuda, bir görüşü, bir düşünceyi savunmak ve kanıtlamak için yazılan yazı türüne denir. Gazete, dergi ve internette yayınlanır. Ayrıca herhangi gerçeği açıklığa kavuşturmak, bir konuda görüş ve tezler ortaya koymak ve bir hipotezi savunmak, desteklemek için yazılmış olan yazılara da makale denir.

Metinler genel olarak "edebî" ve "öğretici" olarak iki başlık altında değerlendirilir. Öğretici metinler bilimsel veya bilgilendirici metinler olarak da adlandırılır. Edebî metinler hem dili kullanış biçimleri hem de kurmaca oluşlarıyla bilgilendirici metinlerden ayrılır. Edebî metinlerde dilin etkili ve çok anlamlılığa açık biçimde kullanılması amaçlanırken bilgilendirici metinlerin anlatımı olabildiğince açık ve anlaşılır olmak durumundadır. Çünkü bu tür metinlerde önemli olan, bir bilgiyi veya düşünceyi doğru ve anlaşılır bir şekilde sunmaktır.

Bilimsel metin türlerinin en önemlilerinden biri makaledir. Makaleler, belli bir düşünceyi kanıtlara dayandırarak açıklayan yazılardır. Makaleler bir görüşün doğruluğunu veya yanlışlığını ispatlamak amacıyla da yazılabilir. Makalede önemli olan ortaya konulan düşüncelerin bilimsel temellere ve bilgilere dayandırılarak sunulmasıdır. 
 <hr>
 <a href="https://dergipark.org.tr/tr/download/article-file/325552">Makale ornegi pdf</a>
</div> 
