<div style="text-align: center">
    <h3><b>Lirik Siir </b></h3>   <hr  style="width:300px; margin: auto;" >  <br> 
<p >
    Şairin ruhunda uyanan ve kabaran heyecanları içli bir dille anlatan duygu yüklü şiirlere ‘lirik şiir denir. Lirik şiirde toplumun hemen her kesimini ilgilendiren sevinç veya acı gibi ortak duygular veya aşk, ayrılık, özlem gibi bireysel duygular coşkulu bir tarzda işlenir.

    Lirik şiirlerde “aşk, sevgi, ölüm, ayrılık” gibi bireysel ve duygusal konular ağır basar, ürik şiir, okurun duygularına, kalbine seslenir. İnsanın iç dünyasını yakalar, dolayısıyla da lirik şiir eylem, olay, etkinlik ve karşılıklı ilişki sergilemez. Ancak sadece iç dünyayı yansıtmakla kalmaz, nesnel dünyadan kaynaklanan duygu ve düşünleri de içerir. Bu şiirler okuyanı etkiler, duygulandırır. Edebî türlerin en sanatsal, en katışıksız, en yoğun olanı lirik şiirdir. Lirik şiir, okuyucuya ve dinleyiciye estetik bir haz verir.</p>
<h4 > <b> Siir Ornegi</b></h4>  <hr  style="width:300px; margin: auto;" > 
<p style="font-size: x-large;">
Aysel Git Başımdan <br>
Aysel git başımdan ben sana göre değilim<br>
Ölümüm birden olacak seziyorum<br>
Hem kötüyüm karanlığım biraz çirkinim<br>
Aysel git başımdan istemiyorum<br>
Benim yağmurumda gezinemezsin üşürsün<br>
Dağıtır gecelerim sarışınlığını<br>
Uykularımı uyusan nasıl korkarsın<br>
Hiçbir dakikamı yaşayamazsın<br>
Aysel git başımdan ben sana göre değilim<br>
Benim için kirletme aydınlığını<br>
Hem kötüyüm karanlığım biraz çirkinim <br>
</p>
</div>
