<div class="container">

    <div class="row">
        <div class="col">
          <div class="p-3 border bg-light"> 
            <h3 class="text-primary fw-bold">EDEBIYAT NEDIR</h3>
     <hr> Edebiyat: Arapça "edep" sözcüğünden türetilen bu kavram, ilk kez Şinasi tarafından günümüzdeki anlamıyla bir sanat türünün adı olarak kullanılmıştır. Şinasi'den önce nazım ve nesir türlerindeki eserlere 'şiir' ve 'inşa' denilmekteydi.
<br>
     Günümüzde edebiyat kavramı şu anlamlarda kullanılmaktadır:
     <br>  
     1) Düşünce, duygu, olay ve imgelerin insanlarda estetik duygular uyandıracak bir biçimde, dil aracılığıyla, söz ve yazıyla anlatımını amaç edinen sanat.eş.Yazın.
     <br>
     2) Bu sanatın ilkelerini, kurallarını, bu yolda oluşturulmuş ürünleri inceleyen bilim dalı. Değerlendirme çalışmalarıyla "edebiyat tarihi" adını alır.
     <br>
     3) Bir çağda, bir dilde yaratılmış, sözlü ya da yazılı, sanat değeri taşıyan yapıtların bütünü; Klasik edebiyat, 19. yüzyıl Türk edebiyatı gibi.
     <br>
     4) Herhangi bir bilim ya da sanat dalıyla ilgili eserlerin tümü: Tıp edebiyatı, Atatürk'le ilgili literatür... gibi. Türkçe'de bu anlamda genellikle "literatür" kelimesi kullanılmaktadır.
         </div> 
         </div>
     </div> <br> <br>
     <div class="col">
         <div class="p-3 border bg-light"> 

                 <a class="nav-link active" aria-current="page" [routerLink]="['/edebTarih']" routerLinkActive="active">        
                     <h5 class="text-dark fw-bold"> <b>EDEBIYAT Tarih Iliskisi</b></h5>      <button type="button" class="btn btn-secondary">Git</button>   </a> 
                   </div> 
      </div> 
                     <br> <br>
                     <div class="col">
                       <div class="p-3 border bg-light"> 
           
                               <a class="nav-link active" aria-current="page" [routerLink]="['/edebToplum']" routerLinkActive="active">        
                                   <h5 class="text-dark fw-bold"> <b>EDEBIYAT Toplum Iliskisi</b></h5>      <button type="button" class="btn btn-secondary">Git</button>   </a> 
                                 </div> 
                    </div> 
                                   <br> <br>
      <div class="col">
                         <div class="p-3 border bg-light"> 
             
                                 <a class="nav-link active" aria-current="page" [routerLink]="['/yazarlar']" routerLinkActive="active">        
                                     <h5 class="text-dark fw-bold"> <b>ONEMLI YAZARLAR</b></h5>  <button type="button" class="btn btn-secondary">Git</button>    </a>
                                    </div> 
        </div> 
        <br> <br>
        <div class="col">
                           <div class="p-3 border bg-light"> 
               
                                   <a class="nav-link active" aria-current="page" [routerLink]="['/siir']" routerLinkActive="active">        
                                       <h5 class="text-dark fw-bold"> <b>Edebi Siir</b></h5>  <button type="button" class="btn btn-secondary">Git</button>    </a>
                                      </div> 
          </div> 
          <br> <br>
          <div class="col">
           <div class="p-3 border bg-light"> 

                   <a class="nav-link active" aria-current="page" [routerLink]="['/makale']" routerLinkActive="active">        
                       <h5 class="text-dark fw-bold"> <b>Makale</b></h5>  <button type="button" class="btn btn-secondary">Git</button>    </a>
                      </div> 
             </div> 
             <br> <br>
             <div class="col">
               <div class="p-3 border bg-light"> 
   
                       <a class="nav-link active" aria-current="page" [routerLink]="['/elestiri']" routerLinkActive="active">        
                           <h5 class="text-dark fw-bold"> <b>Elestiri</b></h5>  <button type="button" class="btn btn-secondary">Git</button>    </a>
                          </div> 
                 </div> 
                 <br> <br>
                </div>
  <br> <br>
            