<div class="container">
    Edebiyat tarihimizde birçok kitap yayımlandı fakat bugünlere çok azı kaldı. Kitaplar dizilere, filmlere, tiyatrolara konu olurken yazarları parklara, caddelere, sokaklara isim olarak verildi. Biz de sizler için Cumhuriyet'in ilk döneminden bugüne kadar eserleri ile edebiyatımızda önemli yer edinen isimlerini listeledik.
    <!-- <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-"> 
        <a class="nav-link active" aria-current="page" [routerLink]="['/mehmetAkif']" routerLinkActive="active">        
            <h5 class="text-dark fw-bold" style="text-align:center"><i>MEHMET AKIF ERSOY</i></h5>     </a> 
            </div> 
            </div>
        </div> <br> <br>
        <div class="col">
            <div class="p-3 border bg-"> 
                <a class="nav-link active" aria-current="page" [routerLink]="['/halideEdib']" routerLinkActive="active">        
                    <h5 class="text-dark fw-bold" style="text-align:center" ><i>HALIDE EDIB ADIVAR</i></h5>     </a> 
                   
                      </div> 
         </div> 
                        <br> <br>
        
         <div class="col">
                            <div class="p-3 border bg-"> 
                                <a class="nav-link active" aria-current="page" [routerLink]="['/omerSeyfettin']" routerLinkActive="active">        
                                    <h5 class="text-dark fw-bold" style="text-align:center"><i>OMER SEYFETTIN</i></h5>     </a> 
                                       </div> 
           </div> 
           <br> <br>
         <div class="col">
                            <div class="p-3 border bg-"> 
                                <a class="nav-link active" aria-current="page" [routerLink]="['/resatNuri']" routerLinkActive="active">        
                                    <h5 class="text-dark fw-bold" style="text-align:center"> <i>RESAT NURI GUNTEKIN</i></h5>     </a> 
                                       </div> 
                                    </div>  -->
                                    <hr> <br>
                                    <div class="row">
                                      <div class="col-md-6 mb-4">
                                        <ul>
                                            <br> <li>
                                        <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect"> <a class="nav-link active" aria-current="page" [routerLink]="['/yazarlar/mehmetAkif']" routerLinkActive="active">        
                                                <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>MEHMET AKIF ERSOY</i></h5>     </a> </button>   </li>
                                                <br> <li background-image:>  
                                            <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">  <a class="nav-link active" aria-current="page" [routerLink]="['/yazarlar/halideEdib']" routerLinkActive="active">        
                                                    <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>HALIDE EDIB ADIVAR</i></h5>     </a> </button>  </li>
                                                    <br> <li>  
                                                <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect"> <a class="nav-link active" aria-current="page" [routerLink]="['/yazarlar/omerSeyfettin']" routerLinkActive="active">        
                                                        <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>OMER SEYFETTIN</i></h5>     </a> </button>  </li>
                                                       
                                                    </ul>
                                      </div>
                                      <div class="col-md-6 mb-4">
                                        <ul>
                                            <br>  <li> 
                                        <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect"> <a class="nav-link active" aria-current="page" [routerLink]="['/peyamiSafa']" routerLinkActive="active">        
                                                <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>Peyami Safa</i></h5>     </a> </button>   </li>
                                                <br> <li>  
                                            <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">  <a class="nav-link active" aria-current="page" [routerLink]="['/sabahattin']" routerLinkActive="active">        
                                                    <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"><i>Sabahattin Ali</i></h5>     </a> </button>  </li>
                                                   
                                                        <br> <li>  

                                                                <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">
                                                                <a class="nav-link active" aria-current="page" [routerLink]="['/yazarlar/resatNuri']" routerLinkActive="active">        
                                                                        <h5 class="text-dark fw-bold" style="text-align:center" style="font-size: 0.8em;"> <i>RESAT NURI GUNTEKIN</i></h5>     </a> </button> </li>
                                                        </ul>
                                                </div>
                                      </div>
                                    
        
        
        
  



<!-- 
<h3 style="text-align:center">Halide Edib Adıvar</h3>
<img src="../../../assets/images/halide_edip_adivar.jpg" class="rounded float-start" alt="pataes" width="250" height="250"> 
<p style="text-align:center">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quaerat doloribus consequuntur ratione? Distinctio officia dignissimos ab nostrum rerum cum, cumque quam, 
    libero aliquid id, ipsa quibusdam accusantium accusamus facere expedita ratione soluta nulla similique debitis neque ipsam maxime? Est neque officia consectetur sint repudiandae 
    provident, natus unde repellendus dolores maxime omnis amet facilis, minima ea assumenda perspiciatis doloremque mollitia cum porro. Veniam dolore eaque deserunt, repudiandae
     architecto omnis culpa consequuntur veritatis nemo dolores soluta nobis praesentium nam illum maiores asperiores quae beatae minus harum vero commodi nesciunt. Quaerat mollitia, 
     ab itaque repudiandae consequuntur odit ex labore, molestiae sequi reprehenderit hic unde accusamus expedita quae dicta provident aspernatur repellat voluptatum eaque, nobis
      sint! Quia, eligendi. Quae sequi impedit quia repellendus pariatur eius facere molestiae facilis, amet quibusdam id sapiente corporis iusto explicabo sunt inventore vel
       quisquam recusandae ea? Et laborum velit laboriosam, pariatur molestias iusto! Et blanditiis harum magni quisquam fugiat. Fugit repellendus obcaecati commodi at maiores 
       incidunt impedit iure molestiae fuga omnis, nulla, esse cumque ullam dicta recusandae explicabo quibusdam mollitia repudiandae vero ex praesentium similique delectus optio.
        Corrupti expedita minima consequatur maiores ea corporis esse dolorum, voluptatum, omnis quibusdam nesciunt iure tempora at facilis asperiores sequi fugit deleniti?
</p>
<br> <hr>
<h3 style="text-align:center">Ömer Seyfettin</h3>
<img src="../../../assets/images/omer_seyfettin.jpg" class="rounded float-start" alt="pataes" width="250" height="250"> 
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quaerat doloribus consequuntur ratione? Distinctio officia dignissimos ab nostrum rerum cum, cumque quam, 
    libero aliquid id, ipsa quibusdam accusantium accusamus facere expedita ratione soluta nulla similique debitis neque ipsam maxime? Est neque officia consectetur sint repudiandae 
    provident, natus unde repellendus dolores maxime omnis amet facilis, minima ea assumenda perspiciatis doloremque mollitia cum porro. Veniam dolore eaque deserunt, repudiandae
     architecto omnis culpa consequuntur veritatis nemo dolores soluta nobis praesentium nam illum maiores asperiores quae beatae minus harum vero commodi nesciunt. Quaerat mollitia, 
     ab itaque repudiandae consequuntur odit ex labore, molestiae sequi reprehenderit hic unde accusamus expedita quae dicta provident aspernatur repellat voluptatum eaque, nobis
      sint! Quia, eligendi. Quae sequi impedit quia repellendus pariatur eius facere molestiae facilis, amet quibusdam id sapiente corporis iusto explicabo sunt inventore vel
       quisquam recusandae ea? Et laborum velit laboriosam, pariatur molestias iusto! Et blanditiis harum magni quisquam fugiat. Fugit repellendus obcaecati commodi at maiores 
       incidunt impedit iure molestiae fuga omnis, nulla, esse cumque ullam dicta recusandae explicabo quibusdam mollitia repudiandae vero ex praesentium similique delectus optio.
        Corrupti expedita minima consequatur maiores ea corporis esse dolorum, voluptatum, omnis quibusdam nesciunt iure tempora at facilis asperiores sequi fugit deleniti?
</p>
<br> <hr>
<h3 style="text-align:center">Reşat Nuri Güntekin</h3>
<img src="../../../assets/images/resat_nuri_guntekin.jpg" class="rounded float-start" alt="pataes" width="250" height="250"> 
<p style="text-align:center">
    Çağdaş Türk Edebiyatının ünlü roman, öykü ve tiyatro yazarı <b> Reşat Nuri Güntekin</b>, 25 Kasım 1889 tarihinde İstanbul'da doğdu. Babası Askerî Doktor Nuri Bey, annesi Erzurum Valisi Yaver Paşa'nın kızı Lütfiye Hanım'dır.

    Çanakkale'de ilköğrenimini yaptı. Galatasaray Lisesi'nde bir yıl okuduktan sonra İzmir'deki Fransız Okulu'na girdi. Bu okulu bitirmeden ayrıldı. İstanbul Üniversitesi Edebiyat Fakültesi'ni bitirdi (1912). 

    Bursa Sultanisi'nde Fransızca öğretmenliği yaptı, İstanbul'a atandı (1916). Vefa Sultanisi, Erenköy Lisesi, Çamlıca Kız Lisesi, Kabataş, Galatasaray, İstanbul Erkek liselerinde edebiyat, felsefe dersleri okuttu, Fatih Vakıf Mektebi müdürlüğünde bulundu. Mahmut Yesari'yle Kelebek adında mizah dergisi çıkardı (1923-1924). Uzun yıllar liselerde edebiyat öğretmenliği yaptıktan sonra (1913-1930), Milli Eğitim Bakanlığı Müfettişi oldu (1931). Çanakkale milletvekili seçildi (1939-1944).

    Memleket gazetesini çıkardı (1947). Unesco'da Türkiye Temsilciliği, Paris'te kültür ataşeliği görevlerinde bulundu. Emekli ye ayrılıp yeni eserlerini yazarken yakalandığı kanserden, tedavi için gittiği Londra'da 13 Aralık 1956'da yaşama gözlerini yumdu. Cenazesi yurda getirilip Karacaahmet'te toprağa verildi. 
</p>
<br> <hr> -->