<div style="text-align: center">
    <h3><b>Modern Siir </b></h3>   <hr  style="width:300px; margin: auto;" >  <br> 
<p >
    
    Bu şiir geleneğinde şiirde ölçünün, nazım biriminin ve kafiyenin şart olmadığı savunulmuş ve ölçüsüz ve kafiyesiz şiirlerin örnekleri verilmiştir.
    Sanatlı söyleyişin yerine yalın ve tabii söyleyiş benimsenmiştir.
    Her türlü konu işlenmiştir.
    Nazım birimi kullanılmamıştır.
    Serbest şiir tarzı benimsenmiştir.
    Şiirlerde sözcük dizilişi ve iç ahenk ön plandadır.

</p>
<h4 > <b> Siir Ornegi</b></h4>  <hr  style="width:300px; margin: auto;" > 
<p style="font-size: x-large;">
Aysel Git Başımdan <br>
Aysel git başımdan ben sana göre değilim<br>
Ölümüm birden olacak seziyorum<br>
Hem kötüyüm karanlığım biraz çirkinim<br>
Aysel git başımdan istemiyorum<br>
Benim yağmurumda gezinemezsin üşürsün<br>
Dağıtır gecelerim sarışınlığını<br>
Uykularımı uyusan nasıl korkarsın<br>
Hiçbir dakikamı yaşayamazsın<br>
Aysel git başımdan ben sana göre değilim<br>
Benim için kirletme aydınlığını<br>
Hem kötüyüm karanlığım biraz çirkinim <br>
</p>
</div>