<h3 style="text-align:center">Sabahattin Ali</h3>
<img src="../../../assets/images/sabahattin.jpg" class="rounded float-start" alt="pataes" width="250" height="250"> 
<p style="text-align:center">
    25 Şubat 1907’de Bulgaristan sınırları içerisindeki Gümülcine’de doğan sanatçı; ilköğrenimini Üsküdar, Çanakkale ve Edremit’te tamamlamış; Balıkesir’de sürdürdüğü öğrenim hayatını İstanbul Muallim Mektebi’nde bitirmiştir. Yurdun çeşitli yerlerinde öğretmenlik yapmış; çevirmen, öğretmen ve dramaturg olarak çalışacağı Devlet Konservatuvarına atanmıştır. Çeşitli dergi ve gazetelerde yazılar yazan Sabahattin Ali, 1946’da Aziz Nesin ile birlikte Marko Paşa dergisini çıkarmıştır. Marko Paşa’daki yazıları yüzünden çeşitli soruşturmalara uğrayan sanatçı, bunlardan birinde yedi ay hüküm giymiştir. Yazdığı bir yazıdan dolayı yıkıcı propagandalar yaptığı gerekçesiyle hakkında tekrar kovuşturma açılınca nakliyeciliğe başlayan Sabahattin Ali, 1 Nisan 1948 tarihinde yurt dışına kaçma girişimi sırasında öldürülmüştür, cesedi öldürülüşünden iki buçuk ay sonra bulunmuştur.
</p><br> <hr>
<h3 style="text-align:center"> <b>Eserleri</b></h3>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <ul>
            <li>Değirmen</li>
            <li>Kağnı</li>
            <li>Yeni Dünya</li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Sırça Köşk</li>
            <li>Kuyucaklı Yusuf</li>
            <li>İçimizdeki Şeytan</li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Kürk Mantolu Madonna</li>
            <li>Ses </li>
            <li>Dağlar </li>
          </ul> 
      </div>
      
</div>
  

