<h3 style="text-align:center">Peyami Safa</h3>
<img src="../../../assets/images/peyamisafa.jpg" class="rounded float-start" alt="pataes" width="250" height="250"> 
<p style="text-align:center">
    02 Nisan 1899'da İstanbul'da doğdu, 15 Haziran 1961'de İstanbul'da yaşamını yitirdi. Psikolojik romanlarıyla tanınan yazar. Şair İsmail Safa'nın oğlu. Babası Sivas'ta sürgünde yaşamını yitirdi. Yoksulluk ve 9 yaşında yakalandığı kemik veremi nedeniyle düzenli bir eğitim almadı. Bir yandan çalışırken bir yandan da kendi kendini yetiştirdi. 13 yaşında hayata atıldı. Posta Telgraf Nezareti'nde memur olarak çalıştı. 1914-1918 arasında öğretmenlik, 1918-1916 arasında gazetecilik yaptı. Hayatını yazıları ile kazandı.

    Babası gibi şair olan amcaları Ahmed Vefa ve Ali Kâmi'nin yönlendirmesiyle edebiyata başladı. Kardeşi İlhami ile çıkardığı "Yirminci Asır" adlı akşam gazetesinde "Asrın hikâyeleri" başlığıyla yazdığı magazin hikayeleriyle dikkat çekti.
    
    Para kaygısıyla yazdığı sıradan yazılarda annesi Server Bedia'nın adından esinlenerek yarattığı "Server Bedii" takma adını kullandı. Bu isimle kaleme aldığı "Cingöz Recai" isimli polisiye dizi romanları büyük ilgi gördü. 
</p><br> <hr>
<h3 style="text-align:center"> <b>Eserleri</b></h3>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <ul>
            <li>Gençliğimiz </li>
            <li>Şimşek </li>
            <li>Sözde Kızlar </li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Mahşer </li>
            <li>Bir Akşamdı</li>
            <li>Süngülerin Gölgesinde</li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Canan </li>
            <li>Atilla </li>
            <li>Yalnızız </li>
          </ul> 
      </div>
      
</div>
  

