<div style="text-align: center">
    <h3><b>Epik Siir </b></h3>   <hr  style="width:300px; margin: auto;" >  <br> 
<p >
    Konusu savaş, yiğitlik, kahramanlık ve vatan sevgisi olan, bir olayı veya tarihi bir hadiseyi coşkulu bir şekilde anlatan şiirlere ‘epik şiir” denir. “Epik” sözcüğü, efsanelerle değişikliğe uğramış tarihî bir olayın izlerini taşıyan destan, bir milletin hayal gücünü en çok doyurabilecek en eski edebiyat biçiminin adıdır. Yunanca bir sözcük olan “epik”; konuşma, hikâye, şarkı, kahramanlık şiiri anlamına gelen “epos” sözcüğünden türemiştir. Epik şiirlerin ilk örnekleri destanlara dayanır ve bu şiir türü çıkışı itibarıyla destanlardan beslenir.

    Epik şiirler bir milletin hayatında önemli izler bırakan büyük göçler, savaşlar, doğal afetler gibi olaylarla; yiğitlik, kahramanlık, mertlik, yurt sevgisi gibi konuların destan havası içinde işlendiği kahramanlık şiirleridir. Destan gibi uzunca yazılan bu şiirlere hamasi şiir”, “kahramanlık şiiri”, “destanî şiir” gibi adlar da verilir. Epik şiir, okuyanda coşku, yiğitlik duygusu, savaşma arzusu uyandırır. Destanlar gibi daha çok, uzun olarak söylenir.</p>
<h4 > <b> Siir Ornegi</b></h4>  <hr  style="width:300px; margin: auto;" > 
<p style="font-size: x-large;">
Aysel Git Başımdan <br>
Aysel git başımdan ben sana göre değilim<br>
Ölümüm birden olacak seziyorum<br>
Hem kötüyüm karanlığım biraz çirkinim<br>
Aysel git başımdan istemiyorum<br>
Benim yağmurumda gezinemezsin üşürsün<br>
Dağıtır gecelerim sarışınlığını<br>
Uykularımı uyusan nasıl korkarsın<br>
Hiçbir dakikamı yaşayamazsın<br>
Aysel git başımdan ben sana göre değilim<br>
Benim için kirletme aydınlığını<br>
Hem kötüyüm karanlığım biraz çirkinim <br>
</p>
</div>
