<div class="p-3 border bg-light"> 
    <h3 class="text-primary fw-bold">EDEBIYAT TARIH ILISKISI</h3>
<hr>Tarih bilimi, bir olayın sebeplerini ve sonuçlarını objektif olarak aktarırken edebiyat ise bu olayın toplum üzerindeki her türlü etkisini ve arka planda kalan her şeyi aktarır. Örneğin Kurtuluş Savaşı’nı bugüne taşıyan ve anlatan tarih bilimidir ancak bu mücadelenin toplumdaki etkisini, günlük yaşamdaki izlerini ve sonrasındaki toplum yapısını başta romanlar olmak üzere çeşitli eserlerle anlatan da edebiyattır. Kurtuluş Savaşı’nı her detayıyla kavramak için hem tarihi metinleri hem de o döneme ışık tutan edebi eserleri bir arada tutmak önemli olacaktır. Bu açıdan bakıldığında tarih ve edebiyat ilişkisi son derece güçlüdür.
<br>
→ Her edebi eser yazıldığı dönemin izlerini taşır, dolayısıyla bir edebi eser zamanla dönemini yansıtan bir tarihi belge niteliği kazanır. Tarih, dönemin olaylarını bizlere aktarır ancak o olayın duygusal yönünü tamamlayan yani tarihin içini dolduran edebiyattır.
<br>
→ Edebi eser, yazıldığı dönemi yansıttığından bir eseri incelerken dönemin tarihi şartlarını bilmek gerekir.
 </div> 
