<img src="../../../assets/images/mehmet akif ersoy.webp" class="rounded float-start" alt="pataes" width="250" height="250"> 
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quaerat doloribus consequuntur ratione? Distinctio officia dignissimos ab nostrum rerum cum, cumque quam, 
    libero aliquid id, ipsa quibusdam accusantium accusamus facere expedita ratione soluta nulla similique debitis neque ipsam maxime? Est neque officia consectetur sint repudiandae 
    provident, natus unde repellendus dolores maxime omnis amet facilis, minima ea assumenda perspiciatis doloremque mollitia cum porro. Veniam dolore eaque deserunt, repudiandae
     architecto omnis culpa consequuntur veritatis nemo dolores soluta nobis praesentium nam illum maiores asperiores quae beatae minus harum vero commodi nesciunt. Quaerat mollitia, 
     ab itaque repudiandae consequuntur odit ex labore, molestiae sequi reprehenderit hic unde accusamus expedita quae dicta provident aspernatur repellat voluptatum eaque, nobis
      sint! Quia, eligendi. Quae sequi impedit quia repellendus pariatur eius facere molestiae facilis, amet quibusdam id sapiente corporis iusto explicabo sunt inventore vel
       quisquam recusandae ea? Et laborum velit laboriosam, pariatur molestias iusto! Et blanditiis harum magni quisquam fugiat. Fugit repellendus obcaecati commodi at maiores 
       incidunt impedit iure molestiae fuga omnis, nulla, esse cumque ullam dicta recusandae explicabo quibusdam mollitia repudiandae vero ex praesentium similique delectus optio.
        Corrupti expedita minima consequatur maiores ea corporis esse dolorum, voluptatum, omnis quibusdam nesciunt iure tempora at facilis asperiores sequi fugit deleniti?
</p>
<br> <hr>
<h3 style="text-align:center"> <b>Eserleri</b></h3>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <ul>
            <li>Safahat </li>
            <li>Süleymaniye Kürsüsünde </li>
            <li>Hakkın Sesleri </li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Fatih Kürsüsünde </li>
            <li>Hatıralar</li>
            <li>Asım </li>
          </ul> 
      </div>
      <div class="col">
        <ul>
            <li>Gölgeler </li>
            <li>Âhiret Yolu</li>
            <li>Âmin Alayı</li>
          </ul> 
      </div>
      
</div>
  